.title {
    margin-top: 100px;

    text-align: center;
    font-weight: bold;

}

.card_block {
    width: 90%;
    height: auto;
    
    margin: 0 auto;
    margin-top: 50px;
    padding: 16px;
    
    display: flex;
    justify-content: space-around;
}

.team_card {
    width: 20%;
    height: 280px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    border: 1px solid rgb(0, 0, 0);
    border-radius: 16px;

    background-color: rgb(255, 255, 255);
}

.name {
    margin: 0 auto;

    text-align: center;

    font-size: 24px;
    font-weight: bold;
}

.mbti {
    display: none;
}

.intro {
    display: none;
}











