.comment_block {
    width: 90%;

    margin: 0 auto; 
    margin-top: 40px;
    padding: 16px;

    display: flex;
    flex-direction: column;
}

.comment_head {
    display: flex;
}

.comment_head input {
    width: 15%;
    height: 30px;

    margin-right: 10px;
    padding: 4px;
    box-sizing: border-box;

    font-size: 20px;

    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);
}

.comment_body {
    margin-top: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment_content {
    width: 87%;
    height: 80px;
}

.comment_content textarea {
    width: 100%;
    height: 100%;

    padding: 4px;
    box-sizing: border-box;

    font-size: 20px;
    border-radius: 12px;

    resize: none;
}

.comment_submit  {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 10%;
    height: 80px;
}

.comment_submit button {
    width: 100%;
    height: 100%;

    border: none;
    border-radius: 16px;

    font-size: 32px;
    font-weight: bolder;

    color: rgb(255, 255, 255);
    background-color: rgb(87, 235, 203);

    cursor: pointer;
}

.comment_list_block {
    width: 90%;
    min-height: 300px;

    margin: 0 auto;
    margin-bottom: 100px;
    padding: 16px;

    display: flex;
    flex-direction: column;
}


.comment_list li {
    margin-top: 20px;
    padding-bottom: 10px;

    display: flex;
    justify-content: space-between;

    
    position: relative;
    margin: 50px;
    
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding-top: 15px;
    padding-left: 20px;
}

.comment_list li ::after {
    border-top:15px solid rgb(255, 255, 255);;
    border-left: 15px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    content:"";
    position:absolute;
    top:10px;
    left:-15px;
}


.comment_list .content_block {
    display: flex;
    flex-direction: column;
}

.comment_list span {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace; 

    color: rgb(87, 235, 203);
}

.comment_list li .time {
    margin-left: 10px;

    font-size: 14px;

    color: rgb(0, 0, 0);
}

.comment_list p {
    margin-top: 6px;

    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;

    color: rgb(0, 0, 0);
}

.comment_list .button_block {
    display: flex;
    align-items: flex-end;
}

.comment_list button {
    width: 40px;
    height: 30px;

    margin-left: 4px;

    border: none;
    border-radius: 4px;

    font-size: 16px;
    font-weight: bold;

    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);

    cursor: pointer;
    margin-right: 10px;
}

.comment_list button.update_button {
    background-color:rgb(87, 235, 203); /* 수정 버튼 배경색 변경 */
    color: #ffffff; /* 수정 버튼 텍스트 색상 변경 */
}

.comment_list button.delete_button {
    background-color: #f44336; /* 삭제 버튼 배경색 변경 */
    color: #ffffff; /* 삭제 버튼 텍스트 색상 변경 */
}