.comment_block {
    width: 90%;

    margin: 0 auto;
    padding: 16px;

    display: flex;
    flex-direction: column;
}

.comment_head {
    display: flex;
}

.comment_head input {
    width: 15%;
    height: 30px;

    margin-right: 10px;
    padding: 4px;
    box-sizing: border-box;

    font-size: 20px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);
}

.comment_body {
    margin-top: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment_content {
    width: 85%;
    height: 80px;
}

.comment_content textarea {
    width: 100%;
    height: 100%;

    padding: 4px;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 20px;
    border-radius: 12px;

    resize: none;
}

.comment_submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
    width: 10%;
    height: 80px;
}

.comment_submit button {
    width: 100%;
    height: 100%;

    border: none;
    border-radius: 4px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-weight: bold;

    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);

    cursor: pointer;
}

.comment_list_block {
    width: 90%;
    min-height: 300px;

    margin: 0 auto;
    margin-bottom: 100px;
    padding: 16px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    display: flex;
    flex-direction: column;
}

.comment_list li {
    margin-top: 20px;
    padding-bottom: 10px;

    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid rgb(210, 210, 210);
}

.comment_list .content_block {
    display: flex;
    flex-direction: column;
}

.comment_list span {
    font-size: 18px;
    font-weight: bold;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.comment_list p {
    margin-top: 6px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 18px;
}

.comment_list .button_block {
    display: flex;
    align-items: flex-end;
}

.comment_list button {
    width: 40px;
    height: 30px;

    margin-left: 4px;

    border: none;
    border-radius: 4px;

    font-size: 16px;
    font-weight: bold;
    font-family: 'IBM Plex Sans KR', sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);

    cursor: pointer;
}