* {
    margin: 0;
    padding: 0;
}

.title {
    margin-top: 100px;

    text-align: center;
    font-weight: bold;
}

.card_block {
    width: 90%;
    height: 350px;
    
    margin: 0 auto;
    margin-top: 50px;
    padding: 16px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team_card {
    width: 18%;
    height: 320px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    border: 1px solid rgb(0, 0, 0);
    border-radius: 16px;

    background-color: rgb(255, 255, 255);
}

.name {
    margin: 0 auto;

    text-align: center;

    font-size: 24px;
    font-weight: bold;
}

.mbti {
    display: none;

    margin-top: 10px;
    margin: 0 auto;

    font-size: 20px;
    font-weight: bold;
}

.intro {
    display: none;

    margin-top: 10px;
    margin: 0 auto;

    font-size: 20px;
    font-weight: bold;
}

.blog-link {
    margin: 0 auto;

    font-size: 16px;
}

.motto {
    margin: 0 auto;

    text-align: center;
}