<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/8.8.1/firebase-database.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/8.8.1/firebase-analytics.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/8.8.1/firebase-firestore.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bcryptjs/2.4.3/bcrypt.js"></script>
    <script defer src="../static/js/main.js"></script>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/comment.css">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100&display=swap" rel="stylesheet">
    <title>TEAM 6 조별과제</title>
	<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100&display=swap" rel="stylesheet">
</head>
<body>
    <div class="title"> 
        <h1>Able</h1>
        <p><span>"</span>우리는 <span>할 수 있는</span> 팀입니다<span>"</span></p>
    </div>


    </div>
    <div class="card_block">
        <div class="team_card" value="김지엽">
            <div class = "photo">
            <img src="https://cdn.discordapp.com/attachments/1158998782776713218/1161131449538314320/jiuyp-fix.jpg?ex=65372eee&is=6524b9ee&hm=efa8e7a313463fce08a47ae7f065d792a5b93a382dc816267496222d763c957f&" alt="김지엽's Image">
            </div>
            <h1 class="name">김지엽</h1>
            <span class="mbti"><span class="mbti-value">"INTP"</span></span>
            <div class="intro">
                <p class="blog"><a href="#" style="text-decoration: none" target="_blank" class="blog-link"><Loading...></a></p>
                <p class="motto"><span class="motto-value">Loading...</span></p>
            </div>
        </div>
        <div class="team_card" value="민찬기">
            <div class = "photo">
            <img src="https://cdn.discordapp.com/attachments/424583107698491414/1161134877048045568/changi-fix.jpg?ex=6537321f&is=6524bd1f&hm=e47a92b0a654640fb324390d3fb47c0b69224c145581ea4f7b686a4320a30cf9&" alt="민찬기's Image">
            </div>
            <h1 class="name">민찬기</h1>
            <span class="mbti"><span class="mbti-value">Loading...</span></span>
            <div class="intro">
                <p class="blog"><a href="#"style="text-decoration: none" target="_blank" class="blog-link">Loading...</a></p>
                <p class="motto"><span class="motto-value">Loading...</span></p>
            </div>
        </div>
        <div class="team_card" value="박조은">
            <div class = "photo">
            <img src="https://cdn.discordapp.com/attachments/424583107698491414/1161137950004887612/joeun-fix.jpg?ex=653734fc&is=6524bffc&hm=5fecaa4c7de46b600283f82d96258b4cd1e8fe597f52430aa8792627114ec685&" alt="박조은's Image">
            </div>
            <h1 class="name">박조은</h1>
            <span class="mbti"><span class="mbti-value">Loading...</span></span>
            <div class="intro">
                <p class="blog"><a href="#" target="_blank" style="text-decoration: none" class="blog-link">Loading...</a></p>
                <p class="motto"><span class="motto-value">Loading...</span></p>
            </div>
        </div>
        <div class="team_card" value="김세웅">
            <div class = "photo">
            <img class = pic src="https://cdn.discordapp.com/attachments/424583107698491414/1161134399547514941/sewoong-fix.jpg?ex=653731ad&is=6524bcad&hm=7c8214a696b88a09d324ce716c885b58c9ef6f25bedaf75ee3b3fe5baaa10f8c&" alt="김세웅's Image">
            </div>
            <h1 class="name">김세웅</h1>
            <span class="mbti"><span class="mbti-value">Loading...</span></span>
            <div class="intro">
                <p class="blog"><a href="#" style="text-decoration: none" target="_blank" class="blog-link">Loading...</a></p>
                <p class="motto"><span class="motto-value">Loading...</span></p>
            </div>
        </div>
    </div>


    <div class="comment_block">
        <div class="comment_head">
            <input type="text" class="comment_name" placeholder="닉네임">
            <input type="password" class="comment_password" placeholder="암호">
        </div>

        <div class="comment_body">
            <div class="comment_content">
                <textarea type="text" class="comment_text" placeholder="내용을 입력하세요."></textarea>
            </div>
            <div class="comment_submit">
                <button type="button" id="commentSubmitButton">등록</button>
            </div>
        </div>
    </div>
    <!-- Add a div to display comments -->
    <div class="comment_list_block">
        댓글리스트 
       <ul class="comment_list">
       </ul>
    </div>
</body>
</html>
