'use strict';

<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/8.8.1/firebase-database.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/8.8.1/firebase-analytics.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/8.8.1/firebase-firestore.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bcryptjs/2.4.3/bcrypt.js"></script>
    <script defer src="../static/js/main.js"></script>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/comment.css">
    <title>TEAM 6 조별과제</title>
</head>
<body>
    <div class="title"> 
        <h1>TEAM 6: Able</h1>
    </div>
    <div class="card_block">
        <div class="team_card" value="김지엽">
            <h1 class="name">김지엽</h1>
            <span class="mbti"><span class="mbti-value">Loading...</span></span>
            <div class="intro">
                <p class="blog"><a href="#" target="_blank" class="blog-link">Loading...</a></p>
                <p class="motto"><span class="motto-value">Loading...</span></p>
            </div>
        </div>
        <div class="team_card" value="민찬기">
            <h1 class="name">민찬기</h1>
            <span class="mbti"><span class="mbti-value">Loading...</span></span>
            <div class="intro">
                <p class="blog"><a href="#" target="_blank" class="blog-link">Loading...</a></p>
                <p class="motto"><span class="motto-value">Loading...</span></p>
            </div>
        </div>
        <div class="team_card" value="박조은">
            <h1 class="name">박조은</h1>
            <span class="mbti"><span class="mbti-value">Loading...</span></span>
            <div class="intro">
                <p class="blog"><a href="#" target="_blank" class="blog-link">Loading...</a></p>
                <p class="motto"><span class="motto-value">Loading...</span></p>
            </div>
        </div>
        <div class="team_card" value="김세웅">
            <h1 class="name">김세웅</h1>
            <span class="mbti"><span class="mbti-value">Loading...</span></span>
            <div class="intro">
                <p class="blog"><a href="#" target="_blank" class="blog-link">Loading...</a></p>
                <p class="motto"><span class="motto-value">Loading...</span></p>
            </div>
        </div>
    </div>

    <div class="comment_block">
        <div class="comment_head">
            <input type="text" class="comment_name" placeholder="닉네임">
            <input type="password" class="comment_password" placeholder="암호">
        </div>

        <div class="comment_body">
            <div class="comment_content">
                <textarea type="text" class="comment_text" placeholder="내용을 입력하세요."></textarea>
            </div>
            <div class="comment_submit">
                <button type="button" id="commentSubmitButton">등록</button>
            </div>
        </div>
    </div>
    <!-- Add a div to display comments -->
    <div class="comment_list_block">
        댓글리스트 
       <ul class="comment_list">
       </ul>
    </div>
</body>
</html>